<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<h2>Group members</h2>
<% if @group.users %>
	<ul>
		<% @group.users.each do |user| %>
			<li><%= user.name %> <% if current_user.id == @group.owner %> <%= link_to "Remove user", remove_user_from_group_path(:user => user) %> <% end %></li>
		<% end %>
	</ul>
<% end %>	


<% if user_signed_in? %>
	<% if current_user.groups.include?(@group) %>
		<%= link_to "Leave group", leave_group_path(@group), class: 'btn btn-danger' %>
	<% else %>
		<%= link_to "Join group", join_group_path, class: 'btn btn-success' %>
	<% end %>
<% end %>
<BR>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
